.env
python/.ipynb_checkpoints/*
.ipynb_checkpoints/*
python/__pycache__/*
*pyc
__pycache__/*
.Rproj.user
.Rhistory
R/htmls*
*.html

other_text_files/
R/external_figures/
R/01_MR_related/scripts/05_case_study_report_cache/html/*
R/01_MR_related/results/mr_evidence_outputs/*
R/01_MR_related/results/heatmap_html/*
R/02_literature_related/results/literature_outputs/*
R/external_files/pathways/*


query_results/*

*.xlsx
*.xmind
