.env
python/.ipynb_checkpoints/*
.ipynb_checkpoints/*
python/__pycache__/*
*pyc
__pycache__/*
.Rproj.user
.Rhistory
R/htmls*
*.html

R/external_figures/
R/01_MR_related/mr_evidence_outputs/*

query_results/*

*.xlsx
*.xmind
