.env
graph_testing_legacy/.ipynb_checkpoints/*
.ipynb_checkpoints/*
graph_testing_legacy/__pycache__/*
__pycache__/*


.Rproj.user
.Rhistory

figures/*
other_text_files/*
query_results/*




project_code/external_figures/
project_code/01_MR_related/scripts/05_case_study_report_cache/html/*
project_code/01_MR_related/results/mr_evidence_outputs/*
project_code/01_MR_related/results/heatmap_html/*
project_code/01_MR_related/results/case_study_reports_tidy/*

project_code/02_literature_related/results/literature_outputs/*
project_code/external_files/*
project_code/external_files/pathways/*
project_code/htmls*

*.xlsx
*.xmind
*.html
*pyc

.DS_Store
.png